<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="pulsestorm_requireexample1" frontName="pulsestorm_requireexample1">
            <module name="Pulsestorm_RequireExample1"/>
        </route>
    </router>
</config>
